<div class="page-header" align="center">
<h1><%= @todo_list.list %></h1>
</div>
<body align="center">
	<p id="notice"><%= notice %></p>

	<p>
		<div id="todo_items_wrapper">
			<%= render @todo_list.todo_items %>
			<p>
				<div id="form">
					<%= render "todo_items/form" %>
				</div>
			</p>
		</div>
	</p>
</body>